*
!*/
!*.*
!LICENSE
!Mkinclude_*
!Makefile
.DS_Store
#
*.bin
*.o

# map folder
etc/map/*/
glb_15min/
conus_06min/
map/data/

# out folder
out/

#obs folder
obs/
obs_sample/

inp/

#fig folders
etc/validation/fig_*/
etc/validation/txt_*/

# figures 
*.png
*.jpg

# text files
etc/*.txt
*.mod
*.a

# CaMa-Flood 
gosh/CaMa-Flood.o*